#instructions {
    background-color: #FFFFFF;
    border: 2px solid;
    border-radius: 6px;
    position: fixed;
    bottom: 50px;
    right: 100px;
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
}
h1 {
    padding: 0px;
    margin: 0px;
}
